$color-Header-background: $palette-blue1;
$color-Footer-background: $palette-blue1;
$color-background: $palette-white;
$color-tag-not-background: $palette-blue1;
$color-modalBox-background: $palette-white;
