$palette-blue1: linear-gradient(to left, #e0eafc, #cfdef3);
$palette-blue2:  #7EC2C2;
$palette-white: linear-gradient(to left, #ffefba, #ffffff);
$palette-red:   #E67A7A;


//$palette-blue1:  #9DDCDC;
//$palette-white: #FFF4E1;

