.wv-tabs {
  background: #fffef0;
}

.wv-tabs-header {
  display: flex;
  justify-content: center;
}
.wv-tabs-header_tab {
  flex-grow: 1;
  padding:5px;
  list-style:none;
  text-align:center;
  cursor:pointer;
  background: $color-tag-not-background;
}
.wv-tabs-content {
  border-top:none;
}
.wv-tabs-content_panel {
  display:none;
}

.wv-tabs-header_tab.active {
  transition: all 0.2s ease-out;
  background: #fffef0;
  font-size: 1.5rem;
}

.wv-tabs-content_panel.show {
  display:block;
}


.welcome-view {
  animation-duration: 1s;
  animation-name: RightToLeft;
}
@keyframes RightToLeft {
  0% {
    opacity: 0;/* 透明 */
    transform: translate(50px);/* X軸方向に50px */
  }
  100% {
    opacity: 1;/* 不透明 */
    transform: translate(0);
  }
}
