.wv-tabs {
  background: #ffffff;
}

.wv-tabs-header {
  display: flex;
  justify-content: center;
}
.wv-tabs-header_tab {
  flex-grow: 1;
  padding:5px;
  list-style:none;
  text-align:center;
  cursor:pointer;
  background: $color-tag-not-background;
}
.wv-tabs-content {
  border-top:none;
}
.wv-tabs-content_panel {
  display:none;
}

.wv-tabs-header_tab.active {
  transition: all 0.2s ease-out;
  background: #ffffff;
  font-size: 1.5rem;
}

.wv-tabs-content_panel.show {
  display:block;
}
