body {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  background: $color-background;
}
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

